.my-footer {
    height: 5em;
    background-color: #163b65;
    margin-top: 1.5em;
    padding: 1em;
    color: white;
    font-size: 80%;
    position: fixed;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}

.page-header {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-header {
    position: fixed;
}