{{template "base" .}}

{{define "title"}}
<title>About Us</title>
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">About Go-Vacay</h1>
            <hr>
            <h5 class="text-center mt-5">   Welcome to our Go-Vacay: Bed and Breakfast reservation website! We are delighted that you have chosen to learn more about us.

                Our Bed and Breakfast is a charming and comfortable establishment located in the heart of the city. We offer a unique experience that is perfect for travelers seeking a home away from home. Whether you are here for business or leisure, we are dedicated to providing you with a memorable stay.
                
                Our rooms are designed with your comfort in mind. Each room is uniquely decorated and furnished with high-quality linens and amenities to ensure a relaxing and rejuvenating stay. We offer a variety of room sizes and configurations to suit your needs, from cozy single rooms to spacious suites for families or groups of friends.
                
                Our common areas are warm and inviting, with comfortable seating, a cozy fireplace, and a dining area where we serve a delicious breakfast every morning. Our breakfast is made from locally-sourced ingredients and includes a variety of options to satisfy all tastes and dietary needs.
                
                At our Bed and Breakfast, we pride ourselves on our personalized service. Our friendly and knowledgeable staff is always available to assist you with anything you may need during your stay. Whether you need recommendations for local attractions or assistance with transportation, we are here to help make your stay as enjoyable as possible.
                
                Thank you for considering our Bed and Breakfast for your next stay. We look forward to welcoming you and providing you with an unforgettable experience.</h5>
            <hr>


        </div>
    </div>
</div>

{{end}}