{{template "base" .}}

{{define "title"}}
<title>Login</title>
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Login Here</h1>
            <hr>
            <form>
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input required type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input required type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out/Remember Me</label>
                </div>
                <hr>
                <div class="form-row">
                    <div class="col-md-3 text-left">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
            <hr>
            <h5>Do not have an account? Register here.</h5>
            <div class="form-row">
                <div class="col-md-3 text-left">
                    <a href="/register" class="btn btn-success">Create Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}