{{template "base" .}}

{{define "title"}}
<title>Login</title>
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Login Here</h1>
            <hr>
            {{$reg := index .Data "register"}}
            <form action="" method="post" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            {{with .Form.Errors.Get "email"}}
                                <label class="text-danger">{{.}}</label> 
                            {{end}}
                            <input required type="email" class="form-control {{with .Form.Errors.Get "email" }} is-invalid {{end}}" value="{{$reg.Email}}" id="email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            {{with .Form.Errors.Get "password"}}
                                <label class="text-danger">{{.}}</label> 
                            {{end}}
                            <input required type="password" class="form-control {{with .Form.Errors.Get "password" }} is-invalid {{end}}" id="password" name="password" value="{{$reg.Password}}">
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out/Remember Me</label>
                </div>
                <hr>
                <div class="form-row">
                    <div class="col-md-3 text-left">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
            <hr>
            <h5>Do not have an account? Register here.</h5>
            <div class="form-row">
                <div class="col-md-3 text-left">
                    <a href="/register" class="btn btn-success">Create Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}