{{template "base" .}}

{{define "title"}}
<title>Reservation</title>
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Make your Reservation here</h1>
            <hr>
            {{$res := index .Data "reservation"}}
            
            <form action="" method="post" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="firstname" class="form-label">First Name</label>
                            {{with .Form.Errors.Get "firstname"}}
                                <label class="text-danger">{{.}}</label> 
                            {{end}}
                            <input required autocomplete="on" type="text" class="form-control {{with .Form.Errors.Get "firstname"}} is-invalid {{end}}" value="{{$res.FirstName}}" id="firstname" name="firstname" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="lastname" class="form-label">Last Name</label>
                            {{with .Form.Errors.Get "lastname"}}
                                <label class="text-danger">{{.}}</label> 
                            {{end}}
                            <input required autocomplete="on" type="text" class="form-control {{with .Form.Errors.Get "lastname"}} is-invalid {{end}}" value="{{$res.LastName}}" id="lastname" name="lastname">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            {{with .Form.Errors.Get "email"}}
                                <label class="text-danger">{{.}}</label> 
                            {{end}}
                            <input required autocomplete="off" type="email" class="form-control {{with .Form.Errors.Get "email" }} is-invalid {{end}}" value="{{$res.Email}}" id="email" name="email">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="phone" class="form-label">Phone</label>
                            {{with .Form.Errors.Get "phone"}}
                                <label class="text-danger">{{.}}</label> 
                            {{end}}
                            <input required autocomplete="off" type="number" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" value="{{$res.Phone}}" id="phone" name="phone">
                        </div>
                    </div>
                </div>
                <div class="form-row" id="reservation-dates">
                    <div class="col">
                        <div class="form-group">
                            <label for="startdate" class="form-label">Start Date</label>
                            {{with .Form.Errors.Get "startdate"}}
                                <label class="text-danger">{{.}}</label> 
                            {{end}}
                            <input required autocomplete="off" type="text" class="form-control  {{with .Form.Errors.Get "startdate"}} is-invalid {{end}}" id="startdate" name="startdate" value="{{$res.Checkin}}" placeholder="Check in">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="enddate" class="form-label">End Date</label>
                            {{with .Form.Errors.Get "enddate"}}
                                <label class="text-danger">{{.}}</label> 
                            {{end}}
                            <input required autocomplete="off" type="text" class="form-control  {{with .Form.Errors.Get "enddate"}} is-invalid {{end}}" id="enddate" name="enddate" value="{{$res.Checkout}}" placeholder="Check out">
                        </div>
                    </div>
                </div>
                <hr>
                <div class=" col text-center">
                            <button type="submit" class="btn btn-primary">Make Reservation</button>
                        </div>
            </form>


        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
        //format: "yyyy-mm-dd"
    });
</script>
{{end}}